.avatar {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: rgb(0, 60, 255);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
}