.pill-button {
  background-color: white;
  color: #111;
  font-weight: 600;
  font-size: 12px;

  padding: 10px 20px;
  border-radius: 10px;

  border: 1px solid #e5e7eb;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  cursor: pointer;
}

.pill-button:hover {
  background-color: #f9fafb;
}

.pill-button:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
}